<%#
    This is the main layout containing the navigation bar and the basic HTML structure.
%>
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DexMatch</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-base-200 min-h-screen">
    <div class="navbar bg-base-100 shadow-xl mb-8 rounded-box w-11/12 mx-auto mt-4">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">DexMatch</a>
        </div>
    </div>

    <main class="container mx-auto flex justify-center">
        <%- body %>
    </main>
</body>
</html>
